/* Color declarations
================================ */

$light-gray				:	#dfdfdf;
$khaki					:	#948D68;


/* Color assignment
================================ */

$inputBG					:	$light-gray;
$calcBG						:	$khaki;